/*-----------------------------------------------------------------------------------*/
/*	3.3	Navigation
/*-----------------------------------------------------------------------------------*/
#menu {
	letter-spacing: -1px;
	background-color: #fff;
	margin: 0px;
	padding: 0;
	line-height: 1.0;
	list-style: none;
	height: 50px;
	font-size: 16px;
}
#menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu a {
	line-height: 50px;
	padding: 0 10px;
	-webkit-transition: background-color .15s ease, color .15s ease, opacity .15s ease-in-out;
	-moz-transition: background-color .15s ease, color .15s ease, opacity .15s ease-in-out;
	-ms-transition: background-color .15s ease, color .15s ease, opacity .15s ease-in-out;
	-o-transition: background-color .15s ease, color .15s ease, opacity .15s ease-in-out;
	transition: background-color .15s ease, color .15s ease, opacity .15s ease-in-out;
	display: block;
	position: relative;
	text-transform: uppercase;
}
#menu a.current {
	color: #269ccb;
	background-image: url(../img/border-current.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#menu a:hover, #menu li.sfHover > a, #menu li.current-cat > a, #menu li.current_page_item > a, #menu li.current-menu-item > a {
	color: #269ccb;
	text-decoration: none;
}
#menu ul {
	position: absolute;
	top: -999em;
	margin-left: 10px;
	margin-top: -1px;
	width: 170px;
	background-color: #fff;
	border-top:2px solid #269ccb;
}
#menu ul a {
	color: #aeaeae;
	text-transform: inherit;
}
#menu ul li {
	font-family: 'Arial';
	text-transform: none;
	border-bottom: 1px solid #eaeaea;
	width: 100%;
}
#menu ul li a {
	font-size: 12px;
	line-height: 35px;
	height: 35px;
	border-right: none;
}
#menu ul li a:hover {color: #269ccb;}
#menu ul li:last-child {
	border-bottom: none !important;
}
#menu li {
	float: left;
	position: relative;
	margin: 0px;
	padding: 0px;
}
#menu li:hover {
	visibility: inherit;
}
#menu li:hover ul, #menu li.sfHover ul {
	left: 0;
	top: 51px; /* match top ul list item height */
	z-index: 99;
}
#menu li:hover li ul, #menu li.sfHover li ul {
	top: -999em;
}
#menu li li:hover ul, #menu li li.sfHover ul {
	left: 160px; /* match ul width */
	top: -1px;
}
#menu li li:hover li ul, #menu li li.sfHover li ul {
	top: -999em;
}
#menu li li li:hover ul, #menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}
#menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px;
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: 18px;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background-image: url(../img/dropdown.png);
	background-repeat: no-repeat;
	background-position: -10px -100px;
}
a > .sf-sub-indicator {
	top: 21px;
	background-position: 0 -100px;
}
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}
#menu ul .sf-sub-indicator {
	background-position: -10px 0;
}
#menu ul a > .sf-sub-indicator {
	top: 12px;
	background-position: 0 0;
}
#menu ul a:focus > .sf-sub-indicator, #menu ul a:hover > .sf-sub-indicator, #menu ul a:active > .sf-sub-indicator, #menu ul li:hover > a > .sf-sub-indicator, #menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0;
}